body{
  background-color: #f3f3f4;
}
.chart-bar{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.area {
    stroke-width: 1px;
    fill: blue;
    opacity: 0.4;

}
